includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 8
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors: []
    excludePaths:
        - vendor/*